
<form [formGroup]="inputFormGroup">
   <div class="flex-row">
    <mat-form-field class="flex-col">
      <mat-label>Nom</mat-label>
      <input formControlName="nom" matInput>
    </mat-form-field>
    <mat-form-field class="flex-col">
      <mat-label>Prénom</mat-label>
      <input formControlName="prenom" matInput>
    </mat-form-field>
  </div>

  <div class="flex-row">
<!--    <div [formGroup]="inputFormGroup">
      <input formControlName="dnaissance">
      <input [(ngModel)]="inputFormGroup" [ngModelOptions]="{standalone: true}">
    </div>-->
    <mat-form-field class="flex-col">
      <mat-label>Date de naissance</mat-label>
      <input formControlName="dnaissance" matInput name="dnaissance">
      <div *ngIf="!pwConfirmModel.valid">{{pwConfirmModel.errors| json}}</div>
    </mat-form-field>
    <!--<mat-form-field class="flex-col">
      <mat-label>Date de naissance</mat-label>
     &lt;!&ndash; <input matInput [matDatepicker]="picker" name="dnaissance" formControlName="dnaissance">&ndash;&gt;
      <input matInput [matDatepicker]="startDatePicker" formControlName="dnaissance">
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker ></mat-datepicker>
    </mat-form-field>-->
    <mat-form-field class="flex-col">
      <mat-label>Sexe</mat-label>
      <input formControlName="sexe" matInput>
    </mat-form-field>
  </div>
</form>
