<div class="container">
  <form [formGroup]="personForm">
    <app-personne-civilite [formGroup]="personForm"></app-personne-civilite>
    <div class="flex-row">
      <mat-form-field class="flex-col">
        <mat-label>Numéro de licence</mat-label>
        <input formControlName="nlicence" matInput>
      </mat-form-field>
      <mat-form-field class="flex-col">
        <mat-label>Catégorie</mat-label>
        <input formControlName="catgeorie" matInput>
      </mat-form-field>
      <app-categorie-drop-down [inputFormGroup]="personForm"></app-categorie-drop-down>
    </div>
    <div class="flex-row">
      <p-tabView>
        <p-tabPanel header="Adresse">
          <mat-form-field class="flex-row">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput>
          </mat-form-field>
          <div class="flex-row">
            <mat-form-field class="flex-col">
              <mat-label>Tél Portable</mat-label>
              <input formControlName="portable" matInput>
            </mat-form-field>
            <mat-form-field class="flex-col">
              <mat-label>Tél Domicile</mat-label>
              <input formControlName="domicile" matInput>
            </mat-form-field>
            <mat-form-field class="flex-col">
              <mat-label>Tél Prof.</mat-label>
              <input formControlName="pro" matInput>
            </mat-form-field>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Adresse Père">
          Content 2
        </p-tabPanel>
        <p-tabPanel header="Adresse Mère">
          Content 3
        </p-tabPanel>
      </p-tabView>
    </div>
  </form>
</div>
