<p-table #dt [columns]="cols" [value]="joueurs"
         sortMode="multiple"
         dataKey="id"
         [rowHover]="true"
         [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
         [paginator]="true" currentPageReportTemplate="Affichage de ligne {first} à la {last} lignes sur {totalRecords}"
         [filterDelay]="0" [globalFilterFields]="['id','nom','prenom']"
>
  <ng-template pTemplate="caption">
    <div class="table-header">
      List of Customers
      <div style="text-align: left">
      <span class="p-input-icon-left">
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                               placeholder="Global Search" style="width:auto"/>
                    </span>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.field">
        <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user let-columns="columns">
    <tr >
      <td *ngFor="let col of columns"  pSortableColumn="col.field">
        {{user[col.field]}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8">No customers found.</td>
    </tr>
  </ng-template>
</p-table>
<!--
-->
<p-table #dt [columns]="cols" [value]="joueurs" [(selection)]="selectedCustomers" dataKey="id" styleClass="p-datatable-customers"
         [rowHover]="true"
         [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
         [paginator]="true" currentPageReportTemplate="Affichage de ligne {first} à la {last} lignes sur {totalRecords}"
         [filterDelay]="0" [globalFilterFields]="['id','nom','prenom']">
  <ng-template pTemplate="caption">
    <div class="table-header">
      List of Customers
      <span class="p-input-icon-left">
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                               placeholder="Global Search"/>
                    </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
<!--    <tr>
      <th pSortableColumn="id">id
        <p-sortIcon field="id"></p-sortIcon>
      </th>
      <th pSortableColumn="nom">nom
        <p-sortIcon field="nom"></p-sortIcon>
      </th>
      <th pSortableColumn="prenom">Representative
        <p-sortIcon field="prenom"></p-sortIcon>
      </th>
    </tr>-->
    <tr>
      <th *ngFor="let col of columns" pSortableColumn="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-customer>
    <tr class="p-selectable-row">
      <td>
        {{customer.id}}
      </td>
      <td>
        <span class="image-text">{{customer.nom}}</span>
      </td>
      <td>
        <span class="image-text">{{customer.prenom}}</span>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8">No customers found.</td>
    </tr>
  </ng-template>
</p-table>

