<div class="container">
  <form [formGroup]="personForm">
    <app-personne-civilite [inputFormGroup]="personForm"></app-personne-civilite>
    <!--<div [formGroup]="personForm2">
      <input formControlName="dnaissance">
      <input [(ngModel)]="personForm" [ngModelOptions]="{standalone: true}">
    </div>-->
    <div class="flex-row">
      <mat-form-field class="flex-col">
        <mat-label>Numéro de licence</mat-label>
        <input formControlName="nlicence" matInput>
      </mat-form-field>
      <mat-form-field class="flex-col">
        <mat-label>Catégorie</mat-label>
        <input formControlName="catgeorie" matInput>
      </mat-form-field>
      <app-categorie-drop-down [inputFormGroup]="personForm"></app-categorie-drop-down>
    </div>
  </form>
</div>
