<div style="height: 80vh;">
  <mat-toolbar >
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon><i class="pi pi-list-custom" ></i></mat-icon>
      </button>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <a routerLink="/personnes" mat-button>
          <mat-icon><i class="pi pi-user-custom" ></i></mat-icon>
          Personnes
        </a>
        <a routerLink="/joueurs" mat-button>
          <mat-icon><i class="pi pi-user-custom" ></i></mat-icon>
          Joueurs
        </a>
        <a routerLink="/equipes" mat-button>
          <mat-icon><i class="pi pi-users-custom" ></i></mat-icon>
          Equipes</a>
        <a routerLink="/matchs" mat-button>
          <mat-icon style="color: #D34E4E ;">sports_basketball</mat-icon>
          Matchs</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <!--<a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>-->
        <a routerLink="/personnes" mat-list-item>
          <i class="pi pi-users-custom" ></i>
          Personnes
        </a>
        <a routerLink="/joueurs" mat-list-item>
          <i class="pi pi-users-custom" ></i>
          Joueurs
        </a>
        <a routerLink="/equipes" mat-list-item>Equipes</a>
        <a routerLink="/matchs" mat-list-item>Match</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill><router-outlet></router-outlet></mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer fxLayout="column"></app-footer>
</div>
