:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.topbar {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--text-color);
}

