@import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';
@import '~primeflex/primeflex.css';
@import '~quill/dist/quill.snow.css';
/**
Personnal style
 */
@import './assets/style/icon-custom.css';
@import './assets/style/root-style.css';

.mat-toolbar{
  background-color: #2C97BD ;
}
.mat-nav-list{
  background-color: #2C97BD ;
}

.mat-list-base .mat-list-item {
  color: #f0f1f3;
}

.mat-toolbar-row a {
  color: #f0f1f3;
}

/*

 */
body {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  padding: 1px 30px 1px 30px;
  /*color: var(--text-color);
  background-color:silver ;*/
}

/**

 */

