
/*@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/quill/dist/quill.snow.css";*/
/*@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/dist/css/bootstrap.css";*/
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/primeicons/primeicons.css";
.mat-toolbar{
  background-color: #2C97BD ;
}

/**
Custom icon
 */
.pi-list-custom:before {
  content: "\e967";
  color: #D34E4E ;
}
.pi-users-custom:before {
  content: "\e941";
  color: #D34E4E ;
  margin-right: 0.3em;
}
.mat-nav-list{
  background-color: #2C97BD ;
}
.mat-toolbar-row a{
  color: #384b5e ;
}
:root {
  --primary: #f28250;
  --secondary: #2C97BD;
  --accent: #384b5e;
  --warn: #D34E4E;
  --margin-button-icon: 0 0.3em;
  --grid-default-gap: 2em;
  /*header*/
  --header-height: 60px;
  /* Footer */
  --footer-height: 40px;
}
