@import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';
@import '~primeflex/primeflex.css';
@import '~quill/dist/quill.snow.css';
/**
Personnal style
 */
@import './assets/style/icon-custom.css';
@import './assets/style/root-style.css';

.mat-toolbar{
  background-color: var(--bandeau-primary);
}
.mat-nav-list {
  background-color: var(--bandeau-primary);
}

.mat-list-base .mat-list-item {
  color: #f0f1f3;
}

.mat-toolbar-row a {
  color: #f0f1f3;
}

/*
Dialogue
 */
.p-dialog .p-dialog-header {
  border-bottom: 0 none;
  background: var(--bandeau-primary);
  color: var(--bandeau-text-second);
  padding: 1.5rem;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  height: 25px;
}

.p-dialog .p-dialog-header .p-dialog-header-icon {
  width: 2rem;
  height: 2rem;
  color: var(--primary-icon);
  border: 0 none;
  background: transparent;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  margin-right: 0.5rem;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
  color: var(--primary-icon);
  border-color: transparent;
  background: var(--bandeau-text-second);
}

/**

 */
.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-col {
  flex-basis: 100%;
  margin: .5rem;
}

@media screen and (min-width: 800px) {
  .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .flex-col {
    flex: 1;
  }

  .flex-60p {
    flex: .60;
  }

  .flex-50p {
    flex: .50;
  }

  .flex-40p {
    flex: .40;
  }

  .flex-30p {
    flex: .30;
  }

  .flex-25p {
    flex: .25;
  }

  .flex-20p {
    flex: .20;
  }
}

/**

 */

